<div class="btn-group" data-toggle="buttons">
  <label ng-repeat="arbeitskategorie in arbeitskategorienList" class="btn btn-primary btn-sm">{{arbeitskategorie}} <i class="fa fa-times" ng-click="removeArbeitskategorie(arbeitskategorie)"></i></label>
  <div class="btn-group" role="group">
    <button ng-show="arbeitskategorien.length > 0"  class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" >
      <li ng-repeat="arbeitskategorie in arbeitskategorien"><a href="" ng-click="addArbeitskategorie(arbeitskategorie)">{{arbeitskategorie}}</a></li>
    </ul>
  </div>
</div>
