<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      <span>
        <span translate>E-Mail versenden an selektierte Einträge</span>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <form name="emailForm">
      <div class="row form-group">
<div class="col-md-12">
        <div class="alert alert-danger" role="alert" ng-show="!attachment && selectedMailTemplate.attachInvoice && url === 'mailing/sendEmailToInvoicesSubscribers'">
            <span translate>Einige selektierte Einträge verfügen über kein angehängtes Rechnungsdokument. Diese E-Mails werden ohne Anhang verschickt.</span>
            <i class="fa fa-info-circle" aria-hidden="true" ng-if="abo.ende === undefined && abo.abotyp.kuendigungsfrist" uib-tooltip-template="'kuendigungsterminTooltipTemplate.html'"></i>
         </div>
        </div>
        <div class="col-md-6">
          <label for="subject" translate>E-Mail Vorlage</label>
        </div>
        <div class="col-md-6">
        <i uib-tooltip="{{message | translate}}" tooltip-placement="bottom" class="fa fa-question-circle" aria-hidden="true"></i>
        </div>
        <div class="col-md-12">
          <oo-dropdown name="mailTemplateDropdown" dropdown-id="mailTemplateDropdown" display-style="uib-dropdown" values="templateT" property="label" selected-prop="id" selected-function="selectTemplateFunc(false)" selected-value="selectedId"></oo-dropdown>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label for="replyTo" translate>Reply-To</label>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" name="replyTo" ng-model="selectedMailTemplate.replyTo" placeholder="{{'Reply-to'|translate}}" maxlength="100">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label for="subject" translate>Betreff</label> *
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" name="subject" ng-model="selectedMailTemplate.subject" required placeholder="{{'Prägnanter Betreff'|translate}}" maxlength="30">
        </div>
      </div>
      <div ng-show="url === 'mailing/sendEmailToInvoicesSubscribers'" class="row form-group">
        <div class="col-md-6">
            <label for="attachment" translate>Rechnung anhängen</label>
        </div>
        <div class="col-md-6">
            <input bs-switch name="attachInvoice" ng-model="selectedMailTemplate.attachInvoice" type="checkbox" switch-size="medium" switch-animate="true" switch-on-text="{{'Ja'|translate}}" switch-off-text="{{'Nein'|translate}}" switch-on-color="success" switch-off-color="danger" switch-radio-off="false" ng-true-value="true" ng-false-value="false" checked>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label for="body" translate>Mail-Body</label> *
        </div>
        <div class="col-md-12">
          <textarea name="body" rows="10" style="width:100%" ng-model="selectedMailTemplate.body" required placeholder="{{'Text mit [Platzhalter]'|translate}}"></textarea>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <span class="pull-right">
              <a ng-if="!commandIssued" href="" role="button" ng-disabled="emailForm.$invalid" ng-click="emailForm.$invalid || showEmailConfirmationDialog()" class="btn btn-primary"><i class="fa fa-share-square-o" aria-hidden="true"></i> <span translate>Senden</span></a>
            <a ng-if="commandIssued" href="" role="button" ng-click="onClose()()" class="btn btn-danger"><i class="fa fa-times"></i> <span translate>Schliessen</span></a>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer" ng-if="sendResult.status" translate>
    Der Mailversand wurde ausgelöst.
  </div>

  <div class="panel-footer" ng-if="createHasWorked && commandIssued" >
    {{selectedMailTemplate.ids.length}} <span translate>von</span> {{selectedMailTemplate.ids.length + batchCreated.ids.length}} <span translate> Mails wurden verschickt</span>
  </div>
  <div class="panel-footer" ng-if="!createHasWorked && commandIssued">
      <span translate>Mails konnten nicht verschickt werden.<span/>
  </div>
</div>
