<div class="dialog">
  <div class="jumbotron">
    <div oo-error-overlay></div>
    <div class="container">
      <h3 translate>Eigenes Passwort wechseln</h3>
      <p>
      <div class="container">
        <div class="alert alert-danger" role="alert" ng-if="changePwd.message">{{changePwd.message}}</div>
        <form class="form-signin" name="changePwdForm">
          <div class="form-group">
            <input type="password" name="oldPassword" class="form-control"
              placeholder="{{'Aktuelles Passwort' | translate}}" required="true" ng-model="changePwd.alt">
            <div ng-show="changePwdForm.oldPassword.$dirty && changePwdForm.oldPassword.$invalid"
              ng-messages="changePwdForm.oldPassword.$error">
              <div ng-messages-include="messages.html"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" name="newPassword" class="form-control"
              placeholder="{{'Neues Passwort' | translate}}" required="true" ng-model="changePwd.neu" ng-minlength="6"
              ng-maxlength="50" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
            <div ng-show="changePwdForm.newPassword.$dirty && changePwdForm.newPassword.$invalid"
              ng-messages="changePwdForm.newPassword.$error">
              <div class="messages">
                <div ng-message="required" translate>Eingabe erforderlich</div>
                <div ng-message="minlength" translate>Das Passwort muss aus mindestens 6 Zeichen bestehen</div>
                <div ng-message="pattern" translate>Das Passwort muss mindestens einen Gross- und Kleinbuchstaben, sowie
                  einen numerischen Wert oder ein Symbol enthalten</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="passwortStrength" translate>Passwortstärke</label>
            <div ng-password-strength="changePwd.neu" css-mode="bootstrap" strength="passStrength"
              inner-class="progress-bar" inner-class-prefix="progress-bar-"> </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirmPassword"
              placeholder="{{'Neues Passwort wiederholen' | translate}}" required="true"
              ng-model="changePwd.neuConfirmed" oo-compare-to="changePwd.neu">
            <div ng-show="changePwdForm.confirmPassword.$dirty && changePwdForm.confirmPassword.$invalid"
              ng-messages="changePwdForm.confirmPassword.$error">
              <div class="messages">
                <div ng-message="required" translate>Eingabe erforderlich</div>
                <div ng-message="ooCompareTo" translate>Passworteingabe stimmt nicht übereint</div>
              </div>
            </div>
          </div>
          <div class="container" ng-show="status === 'otpTwoFactor'">
            <div class="alert alert-info" role="alert"><span translate>Bitte geben Sie das Einmalpasswort aus Ihrer
                Zwei-Faktor-Authentifizierungs-App ein.</span></div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{'Code' | translate}}"
                ng-required="status === 'otpTwoFactor'" auto-focus ng-model="changePwd.secondFactorAuth.code">
            </div>
          </div>

          <div class="container" ng-show="status === 'emailTwoFactor'">
            <div class="alert alert-info" role="alert"><span translate>Es wurde ein Zugangscode an ihre
                Email-Adresse</span> <b>{{person.email}}</b> <span translate>zugestellt.</span></div>
            <div class="form-group">
              <input type="text" class="form-control"
                placeholder="{{'Zugangscode' | translate}} - {{secondFactorCountdownDate() | fromNow}} {{'läuft dieser Loginversuch ab'}}"
                ng-required="status === 'emailTwoFactor'" ng-model="changePwd.secondFactorAuth.code">
            </div>
          </div>

          <div class="form-group">
            <button ng-disabled="changePwdForm.$invalid || env === 'test'" class="btn btn-md btn-primary" type="submit"
              ng-click="changePassword()" translate>Passwort wechseln</button>
          </div>
        </form>
      </div>
      </p>
    </div>
  </div>
</div>
