<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay ng-hide="modalDialogShown"></div>
    <div class="col-md-12">
      <h3 translate>Anmelde-Einstellungen</h3>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading clearfix" ng-show="secondFactorType ==='otp'">
          <h3 class="panel-title">
            <span class="navbar-brand" translate>Passwort</span>
          </h3>
        </div>
        <div class="panel-body">
          <span class="pull-right">
            <button class="btn btn-lg btn-primary" ng-click="showChangePassword()" translate>Passwort wechseln</button>
          </span>
        </div>
        <div class="panel-heading clearfix">
          <h3 class="panel-title">
            <span class="navbar-brand" translate>Zwei-Faktor-Authentisierung</span>
            <span class="pull-right">
              <button ng-disabled="secondFactorSettingsForm.$invalid" class="btn btn-lg btn-primary" type="submit"
                ng-click="saveSecondFactorSettings()" translate>Einstellungen Speichern</button>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <form class="form-signin" name="secondFactorSettingsForm">
            <div class="row form-group" ng-if="projekt">
              <div class="col-md-8">
                <label for="secondFactorEnabled" translate>Zwei-Faktor-Authentisierung</label>
              </div>
              <div class="col-md-4">
                <input bs-switch switch-readonly="{{!secondFactorSettings.canChangeSecondFactor}}"
                  ng-model="secondFactorSettings.secondFactorEnabled" type="checkbox" switch-size="medium"
                  switch-animate="true" switch-on-text="{{'Ja'|translate}}" switch-off-text="{{'Nein'|translate}}"
                  switch-on-color="success" switch-off-color="danger" switch-radio-off="true" ng-true-value="true"
                  ng-false-value="false">
              </div>
            </div>
            <div class="row form-group" ng-show="secondFactorSettings.secondFactorEnabled">
              <div class="col-md-8">
                <label for="secondFactorType" translate>Zwei-Faktor-Authentierungstyp</label>
              </div>
              <div class="col-md-4">
                <oo-dropdown dropdown-id="secondFactorType" display-style="uib-dropdown" values="secondFactorTypes"
                  selected-prop="id" property="label" selection-required="true"
                  selected="secondFactorSettings.secondFactorType" selected-value="secondFactorSettings.secondFactorType" ng-required>
                </oo-dropdown>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-heading clearfix" ng-show="secondFactorType === 'otp'">
          <h3 class="panel-title">
            <span class="navbar-brand" translate>One-Time-Passwort (OTP)</span>
          </h3>
        </div>
        <div class="panel-body" ng-show="secondFactorType === 'otp'">
          <span class="pull-right">
            <button ng-disabled="secondFactorSettings.$invalid" class="btn btn-lg btn-primary" ng-click="showResetOtp()"
              translate>OTP Secret zurücksetzen</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>