<div class="row">
  <div oo-error-overlay></div>
  <div class="container">
    <div class="jumbotron">
      <h3 translate>Passwort vergessen?</h3>
      <div ng-show="!submitted" class="alert alert-info" translate>
        Wenn Sie ihr Passwort vergessen haben, können Sie sich einen Reset-Link senden lassen.
      </div>
      <p>
        <div class="container">
          <form ng-show="!submitted" class="form-signin" name="resetPasswordForm">
           <div class="form-group">
              <input type="email" class="form-control" placeholder="{{'Email Adresse' | translate}}" required="true" autofocus="" ng-model="resetPasswordData.email">
            </div>
            <div class="form-group">
              <button ng-disabled="resetPasswordForm.$invalid" class="btn btn-lg btn-primary" type="submit" ng-click="resetPassword()" translate>Passwort zurücksetzen</button>
            </div>
          </form>
          <div ng-show="submitted" class="alert alert-info" translate>
            Anweisungen um Ihr Passwort neu zu setzten wurden Ihnen an Ihre Email-Adresse gesendet.
          </div>
        </div>
      </p>
    </div>
  </div>
</div>
