name: Build Webapp

on:
  push:

env:
  npm_config_legacy_peer_deps: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Fix up git URLs
      run: echo -e '[url "https://github.com/"]\n  insteadOf = "git://github.com/"' >> ~/.gitconfig
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'
    - name: fetch npm v7
      run: npm install -g npm@latest-7
    - name: Fetch bower
      run: npm install -g bower grunt-cli
    - name: versions used
      run: echo -n 'node:' && node --version && echo -n 'npm:' && npm --version && echo -n 'bower:' && bower --version
    - name: npm ci
      run: npm ci --prefer-offline
    - name: bower install
      run: bower install --allow-root
    - name: Run Build
      run: grunt build
